.top-bar {
	width: 100%;
	min-width: 320px;
	min-height: 128px;
	background-color: #353535;
	display: flex;
	align-items: center;
	gap: 20px;
	padding-left: 30px;
}

.top-bar img {
	width: 92px;
	height: 92px;
	border: 2px solid blue;
	border-radius: 100px;
	padding: 12px;
}
.top-bar h1 {
	font-size: 36px;
}
.top-bar button {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.87);
	font-size: 18px;
	border: none;
	margin: 0px 12px 24px 0px;
}
.top-bar button:hover {
	color: rgb(2, 118, 196);
}
.top-bar button.home {
	justify-self: center;
}
